/* ========================= ШРИФТИ =============================== */

/* Локальне підключення шрифтів */
@import url("fonts.css");

/* ================================================================ */
/* Скидання стилів */
@import url("reset.css");

/* ================================================================ */

/* Стилі для header */
@import url("header.css");

/* ================================================================ */

/* Загальні стилі*/
@import url("common.css");

/* ================================================================ */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Proxima Nova", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  color: #2b2929;
  background-color: #f8f8f8;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: clip;
}

.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1320px;
  margin: 0 auto;
  padding-inline: 15px;
}

/* ------ lesson-name -------- */
.lesson-name {
  padding-block: 30px;
}

.lesson-name__title {
  text-align: center;
}

.lesson-name__highlight {
  display: block;
  font-family: fantasy;
  font-style: normal;
  padding-bottom: 15px;
  font-size: 46px;
  font-weight: 700;
  letter-spacing: 20px;
  color: hsl(263, 100%, 39%);
  text-decoration: underline;
  text-decoration-color: hsl(263, 100%, 69%);
  text-decoration-style: dashed;
  text-underline-offset: 10px;
}

.lesson-name__normal {
  font-size: 26px;
  font-weight: 500;
  font-style: italic;
  text-transform: uppercase;
  line-height: 2;
  color: hsl(120, 100%, 39%);
  text-decoration: underline;
  text-decoration-color: hsl(120, 100%, 19%);
  text-decoration-style: dotted;
  text-underline-offset: 10px;
}

.footer__text {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 3;
  letter-spacing: 15px;
  word-spacing: 20px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3), -2px -2px 3px red;
}

/* ------ page styles ------ */
.page {
  background-color: #f8f8f8;
}

/* ------ popular ------ */
.page__popular {
  margin-block: 70px;
}

.popular {
}

.popular__container {
}

.popular__container .header-h2 {
  margin-bottom: 40px;
}

.popular__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 10px;
}

.popular__card {
}

.card-popular {
  position: relative;
  padding: 20px;
  max-width: 250px;
  aspect-ratio: 250/300;
  width: 100%;
  border-radius: 8px;
  background: url("../img/main-page/popular/card-bg.svg") bottom no-repeat
    #ffffff;
  overflow: hidden;
  box-shadow: -3px 4px 15px 0 rgba(0, 0, 0, 0.06);
  transition: box-shadow 0.3s ease-in-out;
}

.card-popular > a {
  display: block;
}

.card-popular > a img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.card-popular:hover {
  box-shadow: -3px 4px 15px 0 rgba(0, 0, 0, 0.3);
}

.card-popular__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
}

.card-popular__name {
}

.card-popular__number {
  color: #b1b1b1;
}

.card-popular__add-link {
  position: absolute;
  z-index: 2;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url("../img/main-page/popular/arrow.svg") 0 0 / 100% auto
    no-repeat;
  transition: background-color 0.2s ease;
}

.card-popular__add-link:hover {
  background-color: #2b2929;
}

/* ------ most-popular ------ */
.page__most-popular {
  margin-bottom: 80px;
}

.most-popular {
}

.most-popular__container {
}

.most-popular__container .header-h2 {
  margin-bottom: 40px;
}

.most-popular__cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  gap: 30px 10px;
}

.most-popular__card {
}

.card-most {
  max-width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 8px;
  border: 1px solid #e3e2e2;
  background: #ffffff;
  box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
}

.card-most__image {
  border-radius: 8px;
  overflow: hidden;
}

.card-most__image img {
  width: 100%;
  transition: transform 0.25s, filter 0.25s ease-in-out;
}

.card-most__image:hover img {
  transform: scale(1.02);
  filter: brightness(60%);
  transition: transform 0.5s, filter 0.5s ease-in-out;
}

.card-most__dimensions {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.7;
  color: #535353;
}

.card-most__name {
  margin-block: -10px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-size: 19px;
  line-height: 1.26;
  transition: color 0.2s ease;
}

.card-most__name:hover {
  color: #ffbc57;
}

.card-most__availability {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.7;
}

.card-most__availability img {
  margin-right: 5px;
}

.card-most__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-most__price {
}

.card-most__old-price {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.46;
  color: #e03d3d;
  text-decoration: line-through;
}

.card-most__new-price {
  transition: color 0.2s ease;
}

.card-most__new-price:hover {
  color: #ffbc57;
}

.card-most__actions {
  display: flex;
  gap: 10px;
}

.card-most__favorites,
.card-most__cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f8f8f8;
  transition: background-color 0.2s ease;
}

.card-most__favorites:hover {
  background-color: hwb(0 97% 23%);
}

.card-most__cart {
  background-color: #ffbc57;
}

.card-most__cart:hover {
  background-color: hsl(36, 100%, 47%);
}

/* ------ promo ------ */
.page__promo {
  margin-bottom: 70px;
}

.promo {
}

.promo__container {
}

.promo__body {
}

.promo__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.promo__arrows {
}

.promo__arrow {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #ffffff url("../img/main-page/promo/arrow.svg") 53% 50% no-repeat;
}

.promo__arrow:hover {
  filter: grayscale(1);
}

.promo__arrow--left:active {
  transform: rotate(180deg) scale(0.95);
}

.promo__arrow--right:active {
  transform: scale(0.95);
}

.promo__arrow--left {
  transform: rotate(180deg);
  margin-right: 20px;
}

.promo__arrow--right {
}

.promo__items {
  display: flex;
  align-items: center;
  gap: 30px;
}

.promo__item {
  overflow: hidden;
  border-radius: 8px;
}

.promo__item a img {
  max-width: 100%;
}

.promo__item a {
  transition: transform 0.25s, filter 0.25s ease-in-out;
}

.promo__item a:hover {
  transform: scale(1.02);
  filter: brightness(60%);
  transition: transform 0.5s, filter 0.5s ease-in-out;
}

.promo__item a:active {
  transform: scale(1);
}
