/* ========================= ШРИФТИ =============================== */

/* Локальне підключення шрифтів */
@import url("fonts.css");

/* ================================================================ */
/* Скидання стилів */
@import url("reset.css");

/* ================================================================ */

body {
  font-family: "Proxima Nova", sans-serif;
  color: #2b2929;
  background-color: hwb(0 97% 10%);
  line-height: 1.2;
}

.wrapper > :not(:first-child):not(:last-child) {
  padding-left: 50px;
}

.lesson-name__title {
  margin-bottom: 15px;
  text-align: center;
}

.lesson-name__highlight {
  display: block;
  font-family: fantasy;
  font-style: normal;
  margin-block: 15px;
  font-size: 46px;
  font-weight: 700;
  letter-spacing: 20px;
  color: hsl(263, 100%, 39%);
  text-decoration: underline;
  text-decoration-color: hsl(263, 100%, 69%);
  text-decoration-style: dashed;
  text-underline-offset: 10px;
}

.lesson-name__normal {
  font-size: 26px;
  font-weight: 500;
  font-style: italic;
  text-transform: uppercase;
  line-height: 2;
  color: hsl(120, 100%, 39%);
  text-decoration: underline;
  text-decoration-color: hsl(120, 100%, 19%);
  text-decoration-style: dotted;
  text-underline-offset: 10px;
}

.footer__text {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 3;
  letter-spacing: 15px;
  word-spacing: 20px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3), -2px -2px 3px red;
}
