@import url("reset.css");

.menu li > a {
  color: darkgreen;
}

.title {
  color: blue;
}

.subtitle {
  color: red;
}

.subtitle ~ p {
  color: sienna;
}

.subtitle ~ p.war {
  color: crimson;
}

.subtitle + p {
  color: lightgray;
}

.items > li > ul > li {
  color: indigo;
}

.items > li {
  color: darkgray;
}

.link {
  color: yellowgreen;
}

.copy p {
  color: green;
}

.copy p > a {
  color: darkblue;
}

[class*="ems"] li > span {
  color: orange;
}
