/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap");
/* Reset  */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

label {
  display: inline-block;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
          appearance: none;
}

/* Global */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Exo", sans-serif;
  font-size: 1.125rem;
  line-height: 2.22;
  color: #ffffff;
  background-color: #000001;
}

/* Blocks body scrolling when hamburger menu is active */
.body--lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: clip;
}
.wrapper > main {
  flex-grow: 1;
}

[class*=__container] {
  max-width: 81.875rem;
  margin: 0 auto;
  padding-inline: 0.9375rem;
}

@keyframes slideshow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* Button */
.button {
  padding: 0.9375rem 3.75rem;
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  background-color: #6f00a9;
  box-shadow: 0 0.25rem 0.625rem 0 rgba(0, 0, 0, 0.25);
  font-family: "Orbitron", sans-serif;
  font-size: clamp(0.875rem, 0.733rem + 0.63vw, 1.25rem);
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  transition: background-color 0.3s ease, transform 0.1s ease;
}
@media (any-hover: hover) {
  .button:hover {
    background-color: #0b0045;
  }
}
.button:active {
  transform: scale(0.97);
}

/* Heading */
.heading {
  font-size: clamp(1.375rem, 0.475rem + 4vw, 3.75rem);
  font-weight: 700;
  line-height: 1.166;
  text-transform: uppercase;
}
.heading span {
  position: relative;
  display: inline-block;
  padding-bottom: clamp(0.25rem, -0.129rem + 1.68vw, 1.25rem);
  padding-right: clamp(1.375rem, -1.514rem + 12.84vw, 9rem);
}
.heading span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 0.0625rem;
  background: linear-gradient(90deg, #f00 0%, #42ff00 48.9%, #2400ff 100%);
}
.heading--center {
  text-align: center;
}
.heading--center span {
  padding-inline: clamp(0.625rem, -0.322rem + 4.21vw, 3.125rem);
}
.heading--small {
  font-size: clamp(0.875rem, 0.78rem + 0.42vw, 1.125rem);
  font-weight: 400;
  line-height: 1.11;
  letter-spacing: -0.0225rem;
}
.heading--small span {
  padding-bottom: clamp(0.25rem, 0.108rem + 0.63vw, 0.625rem);
  padding-right: clamp(0.9375rem, 0.535rem + 1.79vw, 2rem);
}

/* Header */
.header {
  position: fixed;
  z-index: 50;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 1, 0.7);
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
  min-height: 9.375rem;
  padding-top: 1.25rem;
  padding-bottom: 0.625rem;
}
@media (max-width: 61.99875em) {
  .header__inner {
    padding: 1.875rem 0 1.25rem;
  }
}
@media (max-width: 47.99875em) {
  .header__inner {
    min-height: 5.9375rem;
    padding: 3.125rem 0.3125rem 1.0625rem;
  }
}
.header__logo {
  flex-shrink: 0;
  width: 11.0625rem;
  display: flex;
  align-items: center;
}
.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 47.99875em) {
  .header__logo {
    position: relative;
    z-index: 5;
  }
}
@media (max-width: 29.99875em) {
  .header__logo {
    width: 7.5rem;
  }
}
@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    padding: 6.875rem 3.125rem 1.25rem 0.9375rem;
    background: linear-gradient(to right, rgba(0, 0, 1, 0.9) 0%, rgb(0, 0, 1) 25%, rgb(0, 0, 1) 100%);
    transition: right 0.3s ease;
    overflow: auto;
  }
  .menu__body._active {
    right: 0;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    z-index: 2;
    width: 100%;
    min-height: 5.9375rem;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 1, 0);
  }
  .menu__body._active::before {
    background-color: rgba(0, 0, 1, 0.95);
    transition: background-color 0.3s ease 0.3s;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3125rem 3.75rem;
}
@media (max-width: 75em) {
  .menu__list {
    gap: 0.3125rem 1.25rem;
  }
}
@media (max-width: 47.99875em) {
  .menu__list {
    margin-bottom: 2.5rem;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.25rem;
  }
}
.menu__link {
  padding: 0.625rem;
  font-family: "Orbitron", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}
.menu__link:hover {
  background-color: #6f00a9;
}
@media (max-width: 47.99875em) {
  .menu__link {
    font-size: 1.25rem;
  }
}

.socials {
  display: flex;
  align-items: center;
  gap: 1.1875rem;
}
@media (max-width: 47.99875em) {
  .socials {
    justify-content: flex-end;
    gap: 1.875rem;
  }
}
@media (max-width: 37.5em) {
  .socials {
    justify-content: center;
    gap: 0.75rem;
  }
}
.socials__item {
  flex-shrink: 0;
}
.socials__link {
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
}
.socials__link img {
  transition: transform 0.2s ease-in-out;
  width: 100%;
  height: 0.9375rem;
  object-fit: contain;
  object-position: left;
}
.socials__link:hover img {
  transform: scale(1.2);
}
@media (max-width: 47.99875em) {
  .socials__link {
    width: 1.875rem;
    height: 1.875rem;
  }
  .socials__link img {
    height: 100%;
  }
}
@media (max-width: 37.5em) {
  .socials__link {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    position: relative;
    z-index: 5;
    display: block;
    min-width: 1.875rem;
    height: 1.75rem;
    cursor: pointer;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    right: 0;
    position: absolute;
    height: 0.1875rem;
    width: 100%;
    border-radius: 0.625rem;
    background-color: #ffffff;
    transition: all 0.3s ease;
  }
  .icon-menu::before, .icon-menu::after {
    content: "";
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    width: 85%;
    top: 50%;
    transform: translate(0, -50%);
  }
  .icon-menu._active span {
    transform: translate(500%, -50%);
  }
  .icon-menu._active::before {
    content: "";
    width: 2.4375rem;
    transform: rotate(45deg) translate(0.6875rem, 0.375rem);
  }
  .icon-menu._active::after {
    content: "";
    width: 2.4375rem;
    transform: rotate(-45deg) translate(0.6875rem, -0.375rem);
  }
}

/* hero */
.page__hero {
  margin-bottom: 5rem;
}
@media (max-width: 37.5em) {
  .page__hero {
    margin-bottom: 2.5rem;
  }
}

.hero {
  padding-top: 9.375rem;
  background: url("/img/hero/bg.webp") center/cover no-repeat, rgb(0, 0, 1);
}
@media (max-width: 47.99875em) {
  .hero {
    padding-top: 6.875rem;
  }
}
.hero__body {
  display: flex;
  align-items: flex-end;
}
.hero__content {
  padding-top: 7.5rem;
  padding-bottom: 10rem;
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
@media (max-width: 75em) {
  .hero__content {
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
    align-self: center;
  }
}
.hero__title {
  font-size: clamp(1.625rem, 0.346rem + 5.68vw, 5rem);
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}
.hero__text {
  font-size: clamp(1rem, 0.953rem + 0.21vw, 1.125rem);
  letter-spacing: -0.0225rem;
  text-transform: capitalize;
}
@media (max-width: 37.5em) {
  .hero__text {
    line-height: 1.4;
  }
}
.hero__button {
  align-self: flex-start;
}
@media (max-width: 61.99875em) {
  .hero__button {
    padding: 0.625rem 2.5rem;
  }
}
.hero__image {
  position: relative;
  flex: 1 1 50%;
  text-align: center;
}
.hero__image img {
  max-width: 100%;
}
@media (max-width: 29.99875em) {
  .hero__image {
    margin-right: -0.9375rem;
  }
}
@media (max-width: 37.5em) {
  .hero #desc {
    display: none;
  }
}
.hero #mob {
  display: none;
}
@media (max-width: 37.5em) {
  .hero #mob {
    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 218/295;
    padding-left: 1.875rem;
  }
}
@media (max-width: 29.99875em) {
  .hero #mob {
    padding-left: 0.3125rem;
  }
}
@media (max-width: 37.5em) {
  .hero__skills {
    margin-bottom: 2.5rem;
  }
}
.hero__mobile-img {
  background: url("/img/hero/bg-mobile.webp") center/cover no-repeat, rgb(0, 0, 1);
  text-align: center;
  padding-bottom: 2.5rem;
  margin-inline: -0.9375rem;
}
.hero__mobile-img img {
  aspect-ratio: 177/260;
  max-width: 11.0625rem;
}
@media (min-width: 37.5em) {
  .hero__mobile-img {
    display: none;
  }
}

/* about */
.about {
  scroll-margin-top: 3.125rem;
  padding-block: 7.5rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.99) 85.54%), url("../img/about/bg-about.webp") center/cover no-repeat;
  /* --- marquee --- */
}
@media (max-width: 75em) {
  .about {
    padding-block: 2.5rem;
    scroll-margin-top: 6.875rem;
  }
}
@media (max-width: 37.5em) {
  .about {
    padding-top: 0;
    padding-bottom: 2.1875rem;
    background: none;
  }
}
.about__content {
  margin-bottom: 3.75rem;
  display: grid;
  justify-content: center;
  gap: 1.25rem;
}
@media (max-width: 37.5em) {
  .about__content {
    margin-bottom: 0;
  }
}
@media (max-width: 37.5em) {
  .about__title {
    margin-bottom: 0;
  }
}
.about__title::after {
  width: clamp(8.75rem, 2.592rem + 27.37vw, 25rem);
}
@media (max-width: 37.5em) {
  .about__title::after {
    bottom: -0.3125rem;
  }
}
.about__text {
  max-width: 62rem;
  text-align: center;
  letter-spacing: -0.0225rem;
  text-transform: capitalize;
}
@media (max-width: 37.5em) {
  .about__text {
    font-size: 0.875rem;
  }
}
.skills__wrapper {
  padding-inline: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 37.5em) {
  .skills__wrapper {
    padding: 0;
  }
}
.skills__slider {
  height: 1.5625rem;
  position: relative;
  background-color: transparent;
  display: flex;
  overflow: hidden;
}
.skills__slider::before, .skills__slider::after {
  content: "";
  height: 1.5625rem;
  width: 6.25rem;
  position: absolute;
  background: rgb(0, 0, 1);
  background: linear-gradient(90deg, rgb(0, 0, 1) 0%, rgba(0, 0, 1, 0.9) 30%, rgba(0, 0, 1, 0) 100%);
  z-index: 2;
}
.skills__slider::before {
  left: 0;
  top: 0;
}
.skills__slider::after {
  right: 0;
  top: 0;
  transform: rotate(180deg);
}
.skills__slider:hover .skills__slide {
  animation-play-state: paused;
}
.skills__slide {
  height: 1.5625rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  animation: slideshow 10s linear infinite;
}
.skills__slide li {
  position: relative;
  padding-left: clamp(1.25rem, 0.303rem + 4.21vw, 3.75rem);
  padding-right: clamp(1.875rem, 0.928rem + 4.21vw, 4.375rem);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.25;
  text-transform: capitalize;
}
.skills__slide li::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background: linear-gradient(90deg, #f00 0%, #42ff00 48.9%, #2400ff 100%);
}

/* portfolio */
.portfolio {
  padding-top: clamp(2.5rem, -1.289rem + 16.84vw, 12.5rem);
  padding-bottom: 3.125rem;
  background: linear-gradient(rgba(0, 0, 1, 0.95), rgba(0, 0, 1, 0.95)), url("../img/portfolio/bg-portfolio.webp") center/cover no-repeat;
}
@media (max-width: 75em) {
  .portfolio {
    scroll-margin-top: 2.5rem;
  }
}
@media (max-width: 37.5em) {
  .portfolio {
    scroll-margin-top: 3.75rem;
    background: linear-gradient(rgba(0, 0, 1, 0.95), rgba(0, 0, 1, 0.95));
  }
}
.portfolio__title {
  margin-bottom: clamp(1.25rem, -1.118rem + 10.53vw, 7.5rem);
}
.portfolio__title::after {
  width: clamp(11.875rem, 2.875rem + 40vw, 35.625rem);
}
@media (max-width: 37.5em) {
  .portfolio__title::after {
    bottom: -0.3125rem;
  }
}
.edits {
  display: flex;
  align-items: center;
  justify-content: center;
}
.edits:hover .edits__slide {
  animation-play-state: paused;
}
.edits__slider {
  position: relative;
  display: flex;
  overflow: hidden;
}
.edits__slide {
  display: flex;
  align-items: center;
  animation: slideshow 10s linear infinite;
}
.edits__item {
  margin-inline: clamp(0.625rem, 0.388rem + 1.05vw, 1.25rem);
  display: flex;
  gap: clamp(1.3125rem, 0.863rem + 2vw, 2.5rem);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.edits__link {
  position: relative;
  height: clamp(12.0625rem, 8.107rem + 17.58vw, 22.5rem);
  width: clamp(12.0625rem, 8.107rem + 17.58vw, 22.5rem);
}
.edits__link::before {
  content: "play video";
  position: absolute;
  top: 55%;
  left: 0;
  right: 0;
  font-size: clamp(1.3125rem, 0.863rem + 2vw, 2.5rem);
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}
.edits__link::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 0.625rem solid rgba(110, 0, 169, 0);
  transition: border 0.3s;
}
.edits__link:hover::before {
  opacity: 1;
  transform: translateY(1rem);
}
.edits__link:hover::after {
  border: 0.625rem solid rgb(110, 0, 169);
}
.edits__link:hover .link__icon {
  transform: translate(-50%, -50%) translateY(-1rem);
}
.edits__link:hover ~ .edits__category {
  background: linear-gradient(90deg, #f00 0%, #42ff00 48.9%, #2400ff 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  transition: color 0.3s;
}
.edits__category {
  font-size: clamp(0.875rem, 0.259rem + 2.74vw, 2.5rem);
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

.link__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.link__icon {
  position: absolute;
  width: clamp(4.0625rem, 3.234rem + 3.68vw, 6.25rem);
  height: clamp(4.0625rem, 3.234rem + 3.68vw, 6.25rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s;
}