// Global
// here you can place global styles for the entire project, such as styles for body tags, html tags, and general classes.
/* Global */

// font-family: "Exo", sans-serif;
// font-family: "Orbitron", sans-serif;

@use "../abstracts/" as *;
// @use "../abstracts/variables" as *;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Exo", sans-serif;
  font-size: toRem(18);
  line-height: 1.4;
  color: #232323;
  background-color: #c7c7c7;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: clip;
  & > main {
    flex-grow: 1;
  }
}

[class*="__container"] {
  max-width: toRem(strip-unit($container));
  margin: 0 auto;
  padding-inline: toRem(15);
}
