// Global
// here you can place global styles for the entire project, such as styles for body tags, html tags, and general classes.
/* Global */

// font-family: "Exo", sans-serif;
// font-family: "Orbitron", sans-serif;

@use "../abstracts/" as *;
// @use "../abstracts/variables" as *;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Exo", sans-serif;
  font-size: 18px;
  line-height: 2.22;
  color: #ffffff;
  background-color: #000001;
}

/* Blocks body scrolling when hamburger menu is active */
.body--lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: clip;
}

.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: $container;
  margin: 0 auto;
  padding-inline: 15px;
}

@keyframes slideshow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
