// Button
@use "../abstracts/" as *;

/* Button */
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: toRem(8);
  padding: toRem(21) toRem(26);
  font-size: toRem(29);
  line-height: 1;
  color: var(--color-white);
  text-transform: capitalize;
  background-color: var(--color-black);
  cursor: pointer;
  transition: background-color 0.2s;
  @media (any-hover: hover) {
    &:hover {
      background-color: var(--color-primary);
    }
  }
  &:active {
    transform: scale(0.98);
  }
  &--small {
    gap: toRem(4);
    padding: toRem(5) toRem(15);
    font-size: toRem(16);
  }
  &--light {
    background-color: var(--color-white);
    color: var(--color-black);
  }
}

.button-submit {
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: toRem(4);
  padding: toRem(10) toRem(16);
  border-bottom: toRem(2) solid var(--color-black);
  color: var(--color-black);
  text-align: center;
  text-transform: capitalize;
  transition: border-bottom 0.2s, color 0.2s;
  @media (any-hover: hover) {
    &:hover {
      border-bottom: toRem(2) solid var(--color-primary);
      color: var(--color-primary);
    }
  }
  &:active {
    transform: scale(0.98);
  }
}
