.header {
  position: fixed;
  z-index: 50;
  width: 100%;
  top: 0;
  left: 0;
  color: #535353;
  background-color: #f8f8f8;
}

/* ------------------- */
.header__top {
}

.top-header {
}

.top-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding-block: 15px;
}

.top-header__menu {
  flex: 0 1 60%;
  padding-right: 20px;
}

.menu {
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1px 30px;
}

.menu__item {
}

.menu__link {
  line-height: 1.875;
  border-radius: 5px;
  text-decoration: underline;
  text-decoration-color: rgba(83, 83, 83, 0);
  text-underline-offset: 8px;
  transition: text-decoration-color 0.1s ease;
}

@media (any-hover: hover) {
  .menu__link:hover {
    transition: text-decoration-color 0.3s ease;
    text-decoration-color: #535353;
  }
}

.menu__link:active {
  color: #ffbc57;
}

.top-header__assist {
  flex: 0 0 40%;
  justify-content: right;
}

.assist {
  display: flex;
  align-items: center;
  gap: 20px;
}

.assist__text {
  text-align: right;
  line-height: 1.875;
}

.assist__socials {
  display: flex;
  align-items: center;
  justify-content: right;
  flex-wrap: wrap;
  gap: 10px;
}

.assist__socials a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
}

.assist__socials a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (any-hover: hover) {
  .assist__socials a:hover {
    transform: scale(1.2);
  }
}

.assist__socials a:active {
  transform: scale(0.9);
}

.languages {
  position: relative;
  padding-right: 24px;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
  cursor: pointer;
}

.languages button {
  border-radius: 5px;
}

.languages::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 24px;
  height: 24px;
  background: url("../img/header/arrow-down.svg") center no-repeat;
  transition: transform 0.2s ease-in-out;
}

.multi-languages {
  position: absolute;
  z-index: 5;
  top: -15px;
  left: -15px;
  padding: 15px;
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

@media (any-hover: hover) {
  .languages:hover .multi-languages {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.multi-languages::after {
  content: "";
  position: absolute;
  top: 16px;
  right: 5px;
  width: 24px;
  height: 24px;
  background: url("../img/header/icon-cross.svg") center no-repeat;
}

.multi-language {
  transition: color 0.2s ease;
}

.multi-language:hover {
  color: #ffbc57;
}

/* ------------------- */
.header__main {
}

.main-header {
  padding-block: 25px;
  border-bottom: 2px solid #f8f8f8;
  background-color: #ffffff;
}

.main-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.main-header__top {
  display: flex;
  align-items: center;
  gap: 30px;
}

.icon-menu {
  display: none;
}

.main-header__logo {
  width: 250px;
  margin-right: 4px;
}

.main-header__logo img {
  width: 100%;
}

.main-header__button {
}

.catalog-button {
}

.catalog-button::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url("../img/header/icon-button.svg") center no-repeat;
}

.main-header__search {
}

.search-form {
  flex-grow: 1;
}

.search-form__item {
  position: relative;
}

.search-form__item input {
  transition: box-shadow 0.2s ease;
}

.search-form__input {
  border-radius: 8px;
  border: 1px solid #b1b1b1;
  transition: background-color 0.2s ease, color 0.3s ease;
  padding: 10px 55px 10px 15px;
  line-height: 1.87;
}

.search-form__input::placeholder {
  color: #b1b1b1;
}

@media (any-hover: hover) {
  .search-form__item:hover input {
    box-shadow: inset 0 0 10px rgba(83, 83, 83, 0.2);
    color: #2b2929;
  }
}

.main-header__bottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}

.search-form__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  background: url("../img/header/icon-search.svg") center / cover no-repeat;
}

.search-form__btn:active {
  width: 22px;
  height: 22px;
}

.main-header__contacts {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 10px;
  order: 1;
}

.contacts {
}

.call-button {
  flex: 0 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #f8f8f8;
  transition: background-color 0.2s ease;
}

@media (any-hover: hover) {
  .call-button:hover {
    background-color: hwb(0 97% 23%);
  }
}

.call-button:active {
  transform: scale(0.97);
}

.main-header__contacts {
  position: relative;
}

.contacts__call {
}

.contacts__phone-number {
  border-radius: 5px;
}

.phone-number {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-right: 34px;
}

.phone-number::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 24px;
  height: 24px;
  background: url("../img/header/arrow-down.svg") center no-repeat;
  transition: transform 0.2s ease-in-out;
}

.phone-number__schedule {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.7;
  white-space: nowrap;
}

.phone-number__number {
  color: #2b2929;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
}

.contacts__menu-phones {
  position: absolute;
  top: -20px;
  left: -20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

@media (any-hover: hover) {
  .main-header__contacts:hover .contacts__menu-phones {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.menu-phones {
  padding: 20px;
  width: 270px;
  display: flex;
  gap: 10px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
}

.menu-phones::after {
  content: "";
  position: absolute;
  top: 34px;
  right: 20px;
  width: 24px;
  height: 24px;
  background: url("../img/header/icon-cross.svg") center no-repeat;
}

.menu-phones__call {
}

.menu-phones__numbers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.menu-phones__schedule {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.7;
}

.menu-phones__number {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  color: #2b2929;
  transition: color 0.2s ease;
}

.menu-phones__number:hover {
  color: #ffbc57;
}

.menu-phones__callback {
  color: #ffbc57;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
}

.menu-phones__callback:hover {
  text-shadow: 0 0 1px #ffbc57, 0 0 1px #ffbc57;
}

.fav-button,
.cart-button {
  flex: 0 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid #ffbc57;
  transition: background-color 0.2s ease;
}

@media (any-hover: hover) {
  .fav-button:hover,
  .cart-button:hover {
    background-color: hwb(0 97% 23%);
  }
}

.fav-button:active,
.cart-button:active {
  transform: scale(0.97);
}

.main-header__actions {
  display: flex;
  gap: 10px 20px;
  order: 2;
}

/* ------------------- */
.header__bottom {
}

.bottom-header {
  background-color: #ffffff;
  padding-block: 18px;
}

.bottom-header__container {
  display: flex;
  align-items: center;
}

.bottom-header__proposal {
  flex: 0 1 40%;
  padding-right: 20px;
}

.proposal {
}

.proposal__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 40px;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
}

.proposal__link {
  display: flex;
  gap: 10px;
  border-radius: 5px;
  transition: color 0.2s ease, text-shadow 0.2s ease;
  white-space: nowrap;
}

@media (any-hover: hover) {
  .proposal__link:hover {
    color: #ffbc57;
  }
}

.proposal__link:active {
  filter: grayscale(1);
}

.proposal__link img {
  width: 24px;
  height: 24px;
}

.bottom-header__menu {
  flex: 0 1 60%;
}

.bottom-header__menu .menu__list {
  justify-content: flex-end;
  gap: 10px 40px;
}

.menu__link--semibold {
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
  text-decoration: underline 2px;
  text-decoration-color: rgba(83, 83, 83, 0);
  transition: text-decoration-color 0.2s ease;
}

@media (any-hover: hover) {
  .menu__link--semibold:hover {
    transition: text-decoration-color 0.5s ease;
    text-decoration-color: #535353;
  }
}

.menu-body {
  display: none;
}

@media (max-width: 1200px) {
  .main-header__container,
  .main-header__top,
  .main-header__bottom {
    gap: 24px;
  }

  .main-header__cart {
    margin: 0;
  }

  .main-header__logo {
    margin-right: 0;
    width: 200px;
  }

  .bottom-header__container {
    flex-direction: column;
    gap: 15px;
  }

  .proposal__list,
  .bottom-header__menu .menu__list {
    justify-content: center;
  }
}

@media (max-width: 1024px) {
  .main-header__container,
  .main-header__top,
  .main-header__bottom,
  .main-header__actions {
    gap: 12px;
  }

  .main-header__phone-numbers {
    display: none;
  }

  .main-header__call {
    flex: 0 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #ffbc57;
    background-color: #ffffff;
    transition: background-color 0.2s ease;
  }

  @media (any-hover: hover) {
    .main-header__call:hover {
      background-color: hwb(0 97% 23%);
    }
  }

  .assist__text {
    display: none;
  }

  .top-header__menu {
    flex: 0 1 65%;
  }

  .top-header__assist {
    flex: 0 0 35%;
  }
}

@media (max-width: 991.98px) {
  .main-header__container,
  .main-header__top,
  .main-header__bottom,
  .main-header__actions {
    gap: clamp(0.625rem, -8.751rem + 18.75vw, 2.875rem);
  }

  .contacts__phone-number {
    display: none;
  }

  .call-button {
    flex: 0 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #ffbc57;
    background-color: transparent;
    transition: background-color 0.2s ease;
  }

  .contacts__menu-phones {
    left: -220px;
  }

  .menu-phones__call {
    display: none;
  }

  .call-button:hover ~ .menu-phones {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .call-button:active {
    transform: scale(0.97);
  }

  .main-header__actions {
    order: 1;
  }

  .main-header__contacts {
    order: 2;
  }
}

@media (max-width: 767.98px) {
  .header__top,
  .header__bottom {
    display: none;
  }

  .icon-menu {
    display: block;
  }

  .main-header {
    position: relative;
    padding-block: 0;
  }

  .main-header__logo,
  .main-header__button,
  .main-header__search,
  .call-button,
  .main-header__actions,
  .main-header::after {
    position: relative;
    z-index: 5;
  }

  .contacts__menu-phones {
    top: -5px;
    z-index: 6;
  }

  .main-header::after {
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #f8f8f8;
  }

  .main-header__container {
    flex-direction: column;
    padding: 0;
    row-gap: 0px;
  }

  .main-header__top {
    padding-block: 27px;
    width: 100%;
    justify-content: space-between;
  }

  .main-header__bottom {
    padding-block: 15px;
    width: 100%;
    justify-content: space-between;
  }

  .main-header__bottom,
  .main-header__actions {
    column-gap: 20px;
  }

  /* ---- */
  .icon-menu {
    position: relative;
    z-index: 5;
    display: block;
    min-width: 30px;
    height: 28px;
    cursor: pointer;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    right: 0;
    position: absolute;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background-color: #535353;
    transition: all 0.3s ease;
  }

  .icon-menu::before,
  .icon-menu::after {
    content: "";
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    width: 85%;
    top: 50%;
    transform: translate(0, -50%);
  }

  .icon-menu._active span {
    transform: translate(500%, -50%);
  }

  .icon-menu._active::before {
    content: "";
    width: 39px;
    transform: rotate(45deg) translate(11px, 6px);
  }

  .icon-menu._active::after {
    content: "";
    width: 39px;
    transform: rotate(-45deg) translate(11px, -6px);
  }

  .menu-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    padding: 200px 30px 50px;
    background-color: #ffffff;
    transition: right 0.3s ease;
    overflow: auto;
  }

  .menu-body._active {
    right: 0;
  }

  .menu-body::before {
    content: "";
    position: fixed;
    z-index: 3;
    width: 100%;
    min-height: 186px;
    top: 0;
    right: -100%;
    background-color: #ffffff;
    transition: right 0.3s ease;
  }

  .menu-body._active::before {
    right: 0;
  }

  .menu__list,
  .proposal__list,
  .menu__link.menu__link--semibold,
  .menu__link {
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    color: #2b2929;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
  }

  .proposal__list {
    flex-direction: column-reverse;
  }

  .assist,
  .assist__socials {
    gap: 40px;
  }

  .top-header__assist {
    flex: 1 1 auto;
  }

  .proposal__link {
    flex-direction: row-reverse;
  }
}

@media (max-width: 479.98px) {
  .main-header__logo {
    width: 75px;
    overflow: hidden;
  }

  .main-header__logo img {
    width: auto;
  }

  .main-header__actions {
    z-index: 1;
    gap: 40px;
  }
}
