/* ========================= ШРИФТИ =============================== */
/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Локальне підключення шрифтів */
@import url("fonts.css");

/* ================================================================ */
/* Скидання стилів */
@import url("reset.css");

/* ================================================================ */

body {
  /* font-family: "Proxima Nova", sans-serif; */
  font-family: "Roboto", sans-serif;
  color: #2b2929;
}

.header {
  margin: 10px 0 0 20px;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 900;
  line-height: 2;
  letter-spacing: 10px;
  word-spacing: 5px;
  text-shadow: 3px 3px 3px #ffd700, -2px -2px 3px #0057b8;
}

.page {
  line-height: 1.2;
}

.title {
  font-family: fantasy;
  margin-bottom: 15px;
  text-align: center;
  font-size: 46px;
  font-weight: 700;
  letter-spacing: 20px;
  color: rgb(76, 0, 197);
  text-decoration: underline;
  text-decoration-color: rgb(132, 0, 255);
  text-decoration-style: dashed;
  text-underline-offset: 10px;
}

.subtitle {
  margin-bottom: 15px;
  text-align: center;
  font-size: 26px;
  font-weight: 500;
  font-style: italic;
  text-transform: uppercase;
  line-height: 2;
  color: rgb(0, 197, 0);
  text-decoration: underline;
  text-decoration-color: rgb(0, 73, 0);
  text-decoration-style: dotted;
  text-underline-offset: 10px;
}

/* ----- Lesson ---- */
.lesson-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgba(0, 255, 0, 0.2);
}

.div-decorations {
  width: 50%;
  margin: 0 auto;
}

.div-decorations p {
  margin-bottom: 10px;
}

.div-decorations > div {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #61dfff;
  font-family: "Proxima Nova", sans-serif;
  font-size: 20px;
  margin-bottom: 60px;
}

.div-decorations-border {
  font-family: "Proxima Nova", sans-serif;
  font-size: 20px;
  margin-bottom: 60px;
}

.border-all {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #ffffff;
  border-top: 6px solid red;
  border-right: 12px dotted blue;
  border-bottom: 8px double green;
  border-left: 10px dashed rgb(223, 223, 0);
}

.border-all ul {
  margin-bottom: 15px;
}

.border-all li {
  font-weight: 600;
}

.border-none {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  background-color: #ffffff;
  border: 10px solid #0057b8;
  border-top: none;
}

.border-none span {
  font-weight: 600;
  display: inline-block;
  color: rgb(76, 0, 197);
}

.div-decorations-outline {
  border: 6px solid red;
  outline: 12px solid yellowgreen;
}

.div-decorations .div-decorations-radius {
  padding: 50px;
  border-radius: 50px;
  border: 4px solid red;
  outline: 8px solid lightgray;
}

.circle {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  background-color: #794f45;
  border-radius: 50%;
}

.circle-content {
  font-size: 16px;
  color: #ffffff;
  padding-top: 80px;
  width: 200px;
  margin: 0 auto;
}

.div-decorations .div-decorations-shadow {
  border-radius: 20px;
  min-height: 500px;
  padding-top: 100px;
  border-radius: 10% 90% 41% 59% / 77% 22% 78% 23%;
  background-color: #e0e0e0;
  box-shadow: inset 0 0 10px 0px rgba(0, 0, 0, 0.8);
}

.shadow-inner {
  margin: 0 auto;
  padding: 20px;
  width: 300px;
  height: 300px;
  border-radius: 50px;
  font-size: 18px;
  background: linear-gradient(315deg, #cacaca, #f0f0f0);
  box-shadow: -20px -20px 60px #bebebe, 20px 20px 60px #ffffff;
}

.shadow-inner li {
  margin-bottom: 10px;
}

.shadow-inner li span {
  font-weight: 600;
  text-decoration: underline;
  text-transform: uppercase;
}

.div-decorations .div-decorations-opacity {
  font-size: 0;
  text-align: center;
}

.div-decorations-opacity p {
  font-size: 20px;
}

.div-decorations-opacity div span {
  display: inline-block;
  width: 33.333%;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  outline: 2px solid red;
}

.div-decorations-opacity div .op-0 {
  display: inline;
  opacity: 0;
  color: #ffd700;
  background-color: green;
  outline: none;
}

.div-decorations-opacity div .op-1 {
  display: inline;
  opacity: 1;
  color: #ffd700;
  background-color: green;
  outline: none;
}

.div-decorations-opacity div .op-05 {
  display: inline;
  opacity: 0.5;
  color: #ffd700;
  background-color: green;
  outline: none;
}

.div-decorations .div-decorations-visibility {
  padding: 20px;
  background-color: #fff;
}

.visibility-header {
  font-size: 0;
}

.visibility-header span {
  width: 50%;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.visibility-links {
  font-size: 0;
}

.visibility-links a {
  width: 50%;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  background: radial-gradient(100% 100% at 100% 0%, #89e5ff 0%, #5468ff 100%);
  box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%),
    0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%),
    inset 0px -0.01em 0px rgb(58 65 111 / 50%);
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  text-shadow: 0 2px 0 rgb(0 0 0 / 40%);
}

.visibility-link-hidden {
  visibility: hidden;
}

.visibility-link-visible {
  visibility: visible;
}

.div-bg h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  font-style: italic;
}

.bg-heading {
  margin-bottom: 10px;
  font-size: 26px;
  font-style: italic;
  font-weight: 700;
  text-align: center;
}

.div-bg p,
.div-bg ul {
  padding-left: 200px;
  margin-bottom: 10px;
}

.div-bg li {
  padding-left: 20px;
  margin-bottom: 6px;
}

.div-bg-gradient {
  padding: 40px;
  width: 90%;
  margin: 50px auto;
  font-size: 22px;
  color: #ffd700;
  border-radius: 30px;
  background: rgb(63, 94, 251);
  background: linear-gradient(
    16deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
}

.div-bg-repeat {
  width: 70%;
  margin: 50px auto;
}

.div-bg-repeat > div {
  margin-bottom: 20px;
  border-radius: 20px;
  font-size: 24px;
  font-weight: 700;
  padding: 50px;
  background-image: url(../img/lesson/image-2.png);
  background-color: #89e5ff;
}

.bg-repeat-rep {
  background-repeat: repeat;
}

.bg-repeat-no-rep {
  background-repeat: no-repeat;
}

.bg-repeat-rep-x {
  background-repeat: repeat-x;
}

.bg-repeat-rep-y {
  background-repeat: repeat-y;
}

.positions {
  margin-bottom: 50px;
  font-size: 0;
}

.positions div {
  height: 100px;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  border: 1px dashed blue;
  background-image: url(../img/lesson/image-3.png);
  background-repeat: no-repeat;
}

.positions div span {
  display: inline-block;
  vertical-align: bottom;
}

.position-0-0 {
  line-height: 30px;
  width: 16.66%;
  background-position: 0 0;
}

.position-center {
  line-height: 45px;
  width: 16.66%;
  background-position: 50%;
}

.position-top {
  line-height: 90px;
  width: 16.66%;
  background-position: top;
}

.position-left {
  line-height: 90px;
  width: 16.66%;
  background-position: left;
}

.position-bottom {
  line-height: 90px;
  width: 16.66%;
  background-position: bottom;
}

.position-right {
  line-height: 90px;
  width: 16.66%;
  background-position: right;
}

.div-bg-scroll {
  margin-bottom: 80px;
}

.scroll-scroll {
  height: 600px;
  padding-top: 30px;
  background-image: url(../img/lesson/bg-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
}

.scroll-scroll p {
  display: inline;
  font-size: 38px;
  font-weight: 700;
  color: blue;
  background-color: rgba(97, 223, 255, 0.5);
}
.scroll-fix {
  height: 300px;
  padding-top: 20px;
  font-size: 38px;
  font-weight: 700;
  color: yellow;
  background-image: url(../img/lesson/bg-2.jpg);
  background-attachment: fixed;
}

.scroll-fix p {
  display: inline;
  background-color: #2b2929;
}

.div-bg-size {
  margin-bottom: 50px;
}

.bg-sizes {
  padding-left: 50px;
  margin-bottom: 20px;
}

.bg-sizes > div {
  display: inline-block;
  width: 300px;
  height: 400px;
  margin-right: 20px;
  padding: 15px;
  background-image: url(../img/lesson/bg-3.jpg);
  background-repeat: no-repeat;
  background-color: #5468ff;
  outline: 1px solid red;
  vertical-align: top;
}

.size-auto {
  background-size: auto auto;
}

.size-auto-340 {
  background-size: auto 340px;
}

.size-290 {
  background-size: 290px;
}

.size-percent {
  background-size: 70%;
}

.div-bg-universal {
  width: 50%;
  margin: 50px auto;
  padding: 30px;
  font-size: 20px;
  color: #ffd700;
  background: green url("../img/lesson/bg-2.jpg") 0 0 / cover no-repeat;
}

.div-bg-multi {
  padding-top: 200px;
  padding-bottom: 100px;
  background: url("../img/lesson/image-2.png") 0 50px repeat-x,
    radial-gradient(
      837.78% 378.29% at 69.44% -79.86%,
      rgba(31, 35, 39, 0) 0%,
      #191c1f 51.04%,
      rgba(31, 35, 39, 0) 100%
    ),
    #191c1f url("../img/lesson/bg-4.jpg") center / cover no-repeat;
}

.div-bg-multi p {
  padding: 20px 200px;
  font-size: 28px;
  color: #f0f0f0;
}

/* ----- KROVATO-2 ---- */

.krovato-2-bg {
  background-color: #f8f8f8;
}

.krovato-2 {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 1070px;
  margin: 0 auto;
  overflow: hidden;
  font-family: "Proxima Nova", sans-serif;
}

.blog-article-heading {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
}

.blog-article img {
  border-radius: 8px;
  margin-bottom: 40px;
  max-width: 100%;
}

.blog-article-text {
  line-height: 1.875;
}

.blog-article-text p {
  margin-bottom: 10px;
}

.headline-h4 {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
}

.blog-article-text ul {
  margin-top: 30px;
  margin-bottom: 40px;
}

.blog-article-text li {
  padding-left: 47px;
  margin-bottom: 20px;
  background-image: url("../img/krovato/icon.svg");
  background-repeat: no-repeat;
}

/* ----- edu-play ---- */
.edu-play {
  margin-block: 50px;
}
.explore {
  width: 1440px;
  margin: 0 auto;
  font-size: 0;
  font-family: "Quicksand", sans-serif;
  color: #ffffff;
  background-image: url("../img/eduplay/explore/img-bg.jpg");
}

.explore-left,
.explore-right {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}

.explore-content {
  max-width: 600px;
  margin: 0 auto;
  padding-block: 121px;
}

.explore-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 24px;
}

.explore-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 24px;
}

.explore-button {
  margin-left: 28px;
  width: 217px;
  height: 48px;
  border-radius: 8px;
  padding: 11px 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.56;
  text-align: right;
  color: #0d1216;
  background-image: url("../img/eduplay/explore/button.png");
  background-repeat: no-repeat;
  background-position: 14px;
  background-size: 18px;
  background-color: #ffffff;
}

.explore-image {
  width: 547px;
  margin: 0 auto;
}

.explore-image img {
  max-width: 100%;
}

/* ----- e-com-minimal ---- */
.e-com-minimal {
  margin-block: 50px;
}

.top-main-bg {
  background-color: rgba(30, 40, 50, 0.05);
}

.top-main {
  width: 1920px;
  padding-block: 80px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 0;
  color: #000000;
  background: url("../img/e-minimal/top-main/decor-left.svg") no-repeat -28px 500px,
    url("../img/e-minimal/top-main/decor-right.svg") no-repeat right 70%;
}

.top-main-left,
.top-main-right {
  display: inline-block;
  vertical-align: middle;
}

.top-main-left {
  width: 51%;
}

.top-main-right {
  width: 49%;
}

.top-main-content {
  max-width: 682px;
  margin-left: auto;
}

.top-main-title {
  margin-bottom: 52px;
  font-weight: 300;
  font-size: 74px;
  line-height: 0.74;
  text-transform: capitalize;
}

.top-main-text {
  margin-bottom: 66px;
  font-size: 30px;
  line-height: 1.83;
  text-transform: capitalize;
}

.top-main-button {
  padding: 19px 26px;
  width: 223px;
  height: 72px;
  font-size: 29px;
  text-align: right;
  text-transform: capitalize;
  color: #ffffff;
  background-image: url("../img/e-minimal/top-main/icon.png");
  background-repeat: no-repeat;
  background-position: 28px 22px;
  background-color: #1e2832;
}

.top-main-image-decor {
  margin-left: 116px;
  margin-top: 20px;
  display: inline-block;
  width: 424px;
  height: 542px;
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 160px 0;
}

.top-main-image {
  margin-left: 98px;
  margin-top: -562px;
  width: 424px;
  height: 542px;
}

.top-main-image img {
  border-radius: 160px 0;
  max-width: 100%;
}

/* -------------------------------- */
.footer {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 3;
  letter-spacing: 15px;
  word-spacing: 20px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3), -2px -2px 3px red;
}
