// category
@use "../abstracts/" as *;

/* category */
.page {
  // .page__category
  &__category {
  }
}
.category {
  padding-top: toRem(45);
  padding-bottom: toRem(70);
  @media (max-width: toEm(991.98)) {
    padding-block: toRem(30);
  }
  @media (max-width: toEm(479.98)) {
    padding-block: toRem(15);
  }
  // .category__container
  &__container {
    position: relative;
  }

  // .category__title
  &__title {
    margin-bottom: 0.7em;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: clamped(36, 50);
    font-weight: 500;
    color: var(--color-dark);
    text-transform: capitalize;
    @media (min-width: toEm(1440)) {
      margin: 0;
      position: absolute;
      top: 50%;
      left: toRem(-40);
      font-size: toRem(34);
      font-weight: 400;
      text-transform: uppercase;
      writing-mode: vertical-lr;
      transform: rotate(180deg) translateY(50%);
      white-space: nowrap;
    }
  }

  // .category__cards
  &__cards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: toRem(24);
    @media (max-width: toEm(991.98)) {
      grid-template-columns: repeat(3, 1fr);
      gap: toRem(20);
    }
    @media (max-width: toEm(800)) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: toEm(479.98)) {
      grid-template-columns: 1fr;
    }
  }

  // .category__card
  &__card {
    aspect-ratio: 1 / 1;
    &:nth-child(1) {
      @media (min-width: toEm(800)) {
        grid-column: span 2;
        grid-row: span 2;
      }
    }
    // /* for 1, 10, 11, 20, 21, ... */
    // &:nth-child(10n + 1),
    // &:nth-child(10n + 2) {
    //   grid-column: span 2;
    //   grid-row: span 2;
    //   // aspect-ratio: 407/289;
    // }
    // &:not(:nth-child(10n + 1)):not(:nth-child(10n + 2)) {
    //   grid-column: span 1;
    //   grid-row: span 1;
    //   // aspect-ratio: 619 / 289;
    // }
  }
}
