// collection
@use "../abstracts/" as *;

/* collection */
.page {
  // .page__collection
  &__collection {
    margin-top: toRem(80);
    margin-bottom: toRem(70);
    @media (max-width: toEm(600)) {
      margin-block: toRem(20);
    }
  }
}

.collection {
  position: relative;
  padding-top: toRem(111);
  background-color: #010204;
  @media (max-width: toEm(991.98)) {
    padding-top: toRem(60);
    &::after {
      opacity: 0.4;
    }
  }
  @media (max-width: toEm(600)) {
    padding-top: toRem(30);
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../img/collection/bg.webp") 0 0 / contain no-repeat;
  }
  &::after {
    content: "";
    position: absolute;
    width: toRem(676);
    height: toRem(309);
    top: toRem(51);
    right: toRem(-56);
    background: url("../img/collection/bg-logo.webp") 0 0 / cover no-repeat;
  }
  // .collection__container
  &__container {
    position: relative;
    z-index: 2;
    display: flex;
    gap: toRem(20);
    @media (max-width: toEm(600)) {
      flex-direction: column-reverse;
    }
  }

  // .collection__image
  &__image {
    position: relative;
    flex: 1 1 toRem(100);
    align-content: end;
    transform: translateX(toRem(-112));
    & img {
      max-width: 100%;
    }
    @media (max-width: toEm(991.98)) {
      transform: translateX(0);
      & img {
        position: absolute;
        bottom: 0;
        right: 0;
        min-width: toRem(450);
      }
    }
    @media (max-width: toEm(600)) {
      & img {
        position: static;
        max-width: 100%;
        min-width: auto;
      }
    }
  }

  // .collection__content-wrapper
  &__content-wrapper {
    flex: 1 1 toRem(100);
    align-content: end;
    padding-bottom: 4vw;
  }

  // .collection__content
  &__content {
    max-width: toRem(504);
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: toRem(55);
    @media (max-width: toEm(600)) {
      gap: toRem(25);
    }
  }

  // .collection__logo
  &__logo {
    width: toRem(191);
    height: toRem(81);
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    @media (max-width: toEm(600)) {
      width: toRem(150);
      height: auto;
    }
  }

  // .collection__text
  &__text {
    font-family: "Roboto", sans-serif;
    font-size: toRem(26);
    line-height: 1.5;
    color: var(--color-white);
    text-transform: capitalize;
    @media (max-width: toEm(991.98)) {
      font-size: toRem(22);
    }
  }

  // .collection__button
  &__button {
    max-width: toRem(245);
    @media (max-width: toEm(479.98)) {
      max-width: 100%;
    }
  }

  // .collection__button-wrapper
  &__button-wrapper {
  }
}
