// hero
@use "../abstracts/" as *;

.page {
  // .page__hero
  &__hero {
  }
}
.hero {
  position: relative;
  padding-top: toRem(51);
  padding-bottom: toRem(80);
  background-color: rgba(30, 40, 50, 0.05);
  @media (max-width: toEm(991.98)) {
    padding-top: toRem(30);
  }
  @media (max-width: toEm(600)) {
    padding-top: toRem(5);
    padding-bottom: toRem(30);
  }
  @media (min-width: toEm(991.98)) {
    &::before {
      content: "";
      position: absolute;
      width: toRem(120);
      height: toRem(125);
      bottom: toRem(108);
      left: 0;
      background: url("../img/hero/decor-left.svg") 0 0 / 100% no-repeat;
      z-index: -1;
    }
    &::after {
      content: "";
      position: absolute;
      width: toRem(168);
      height: toRem(265);
      bottom: toRem(156);
      right: 0;
      background: url("../img/hero/decor-right.svg") 0 0 / 100% no-repeat;
      z-index: -1;
    }
  }
  // .hero__container
  &__container {
  }

  // .hero__body
  &__body {
    display: flex;
    // align-items: center;
    @media (max-width: toEm(600)) {
      flex-direction: column;
      gap: toRem(50);
    }
  }

  // .hero__content
  &__content {
    padding-top: 4.14%;
    flex-basis: 52.3%;
    font-family: "Roboto", sans-serif;
  }

  // .hero__title
  &__title {
    margin-bottom: 7.536%;
    font-size: clamped(60, 74);
    font-weight: 300;
    line-height: 1;
    color: var(--color-dark);
    text-transform: capitalize;
    @media (max-width: toEm(600)) {
      margin-bottom: 4%;
    }
  }

  // .hero__text
  &__text {
    margin-bottom: 9.565%;
    color: var(--color-dark);
    font-size: clamped(20, 30);
    line-height: 1.83;
    text-transform: capitalize;
    @media (max-width: toEm(600)) {
      margin-bottom: 4%;
    }
  }

  // .hero__button
  &__button {
    @media (max-width: toEm(479.98)) {
      font-size: toRem(22);
      width: 100%;
    }
  }

  // .hero__button-wrapper
  &__button-wrapper {
    transform: translate(2rem, 2rem);
    opacity: 0;
    transition: opacity 0.5s ease-in-out 0.3s, transform 0.5s ease-in-out 0.3s;
  }

  // .hero__image
  &__image {
    flex-basis: 47.7%;
    padding-left: toRem(30);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  // .hero__image-body
  &__image-body {
    aspect-ratio: 424/542;
    border-radius: 37% 0 37% 0 / 29% 0 29% 0; // 37% = 160px of 424 / 29% = 160px of 542
    border: toRem(2) solid rgba(0, 0, 0, 0.25);
    & img {
      aspect-ratio: 424/542;
      max-width: toRem(424);
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 37% 0 37% 0 / 29% 0 29% 0;
      transform: translate(-4.25%, -3.68%);
    }
  }
}

.loaded .hero__button-wrapper {
  opacity: 1;
  transform: translate(0, 0);
}
