// portfolio
@use "../abstracts/" as *;

/* portfolio */
.page {
  // .page__portfolio
  &__portfolio {
  }
}

.portfolio {
  padding-top: clamped(40, 200);
  padding-bottom: toRem(50);
  background: linear-gradient(rgba(0, 0, 1, 0.95), rgba(0, 0, 1, 0.95)),
    url("../img/portfolio/bg-portfolio.webp") center / cover no-repeat;
  @media (max-width: toEm(1200)) {
    scroll-margin-top: toRem(40);
  }
  @media (max-width: toEm(600)) {
    scroll-margin-top: toRem(60);
    background: linear-gradient(rgba(0, 0, 1, 0.95), rgba(0, 0, 1, 0.95));
  }

  // .portfolio__container
  &__container {
  }

  // .portfolio__title
  &__title {
    margin-bottom: clamped(20, 120);
    &::after {
      width: clamped(190, 570);
      @media (max-width: toEm(600)) {
        bottom: toRem(-5);
      }
    }
  }

  // .portfolio__edits

  &__edits {
  }
}

.edits {
  // padding-block: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover .edits__slide {
    animation-play-state: paused;
  }

  // .edits__slider
  &__slider {
    position: relative;
    display: flex;
    overflow: hidden;
  }

  // .edits__slide
  &__slide {
    display: flex;
    align-items: center;
    animation: slideshow 10s linear infinite;
  }

  // .edits__item
  &__item {
    margin-inline: clamped(10, 20);
    display: flex;
    gap: clamped(21, 40);
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  // .edits__link
  &__link {
    position: relative;
    height: clamped(193, 360);
    width: clamped(193, 360);
    &::before {
      content: "play video";
      position: absolute;
      top: 55%;
      left: 0;
      right: 0;
      font-size: clamped(21, 40);
      font-weight: 700;
      line-height: 1;
      text-transform: uppercase;
      width: 100%;
      text-align: center;
      opacity: 0;
      transition: opacity 0.3s, transform 0.3s;
    }
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      border: toRem(10) solid rgba(110, 0, 169, 0);
      transition: border 0.3s;
    }
    &:hover {
      &::before {
        opacity: 1;
        transform: translateY(1rem);
      }
      &::after {
        border: toRem(10) solid rgba(110, 0, 169, 1);
      }
      .link__icon {
        transform: translate(-50%, -50%) translateY(-1rem);
      }
      & ~ .edits__category {
        background: $gradient;
        background-clip: text;
        color: transparent;
        transition: color 0.3s;
      }
    }
  }

  // .edits__category
  &__category {
    font-size: clamped(14, 40);
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
  }
}

.link {
  // .link__image
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  // .link__icon
  &__icon {
    position: absolute;
    width: clamped(65, 100);
    height: clamped(65, 100);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s;
  }
}
