// slider
@use "../abstracts/" as *;

/* slider */
.page {
  // .page__slider
  &__slider {
  }
}
.slider {
  padding-block: toRem(70);
  @media (max-width: toEm(991.98)) {
    padding-block: toRem(30);
  }
  @media (max-width: toEm(479.98)) {
    padding-block: toRem(15);
  }
  // .slider__container
  &__container {
    display: flex;
    flex-direction: column;
    gap: toRem(35);
  }

  // .slider__title
  &__title {
  }

  // .slider__filter
  &__filter {
    display: flex;
    justify-content: space-between;
    gap: toRem(15);
  }

  // .slider__tab-buttons
  &__tab-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: toRem(40);
    row-gap: toRem(10);
  }

  // .slider__show-button
  &__show-button {
    max-height: toRem(32);
    flex-shrink: 0;
  }

  // .slider__swiper
  &__swiper {
    position: relative;
    overflow: hidden;
    display: grid;
  }

  // .slider__cards
  &__cards {
  }

  // .slider__card
  &__card {
    max-width: toRem(468);
    height: 100%;
    margin-top: auto;
  }

  // .slider__arrow-prev
  &__arrow-prev {
    &.swiper-button-prev {
      width: toRem(70);
      height: toRem(70);
      border-radius: 50%;
      border: toRem(2) solid transparent;
      font-size: toRem(30);
      padding-left: toRem(5);
      transform: rotate(180deg);
      color: rgba(30, 40, 50, 0.45);
      transition: border 0.2s, color 0.2s, background-color 0.2s;
      &::after {
        display: none;
      }
      @media (any-hover: hover) {
        &:hover {
          border: toRem(2) solid var(--color-primary);
          color: var(--color-primary);
          background-color: rgba(30, 40, 50, 0.25);
        }
      }
      @media (any-hover: none) {
        border: toRem(2) solid var(--color-primary);
        color: var(--color-primary);
        background-color: rgba(30, 40, 50, 0.25);
      }
    }
  }

  // .slider__arrow-next
  &__arrow-next {
    &.swiper-button-next {
      width: toRem(70);
      height: toRem(70);
      border-radius: 50%;
      border: toRem(2) solid transparent;
      font-size: toRem(30);
      padding-left: toRem(5);
      color: rgba(30, 40, 50, 0.45);
      transition: border 0.2s, color 0.2s, background-color 0.2s;
      &::after {
        display: none;
      }
      @media (any-hover: hover) {
        &:hover {
          border: toRem(2) solid var(--color-primary);
          color: var(--color-primary);
          background-color: rgba(30, 40, 50, 0.25);
        }
      }
      @media (any-hover: none) {
        border: toRem(2) solid var(--color-primary);
        color: var(--color-primary);
        background-color: rgba(30, 40, 50, 0.25);
      }
    }
  }
}

.has-all-button-tabs-2 {
}

.swiper-wrapper {
}

.swiper-slide {
}
