// subscribe
@use "../abstracts/" as *;

/* subscribe */
.page {
  // .page__subscribe
  &__subscribe {
  }
}
.subscribe {
  padding-block: toRem(100);
  background-color: rgba(30, 40, 50, 0.05);
  @media (max-width: toEm(767.98)) {
    padding-block: toRem(50);
  }
  // .subscribe__container
  &__container {
  }

  // .subscribe__title
  &__title {
    margin-bottom: 1.2em;
    @media (max-width: toEm(767.98)) {
      margin-bottom: 0.5em;
    }
  }

  // .subscribe__follow
  &__follow {
    // margin-bottom: toRem(70);
    margin-bottom: 3.789%;
  }

  // .subscribe__form
  &__form {
    max-width: toRem(760);
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    gap: toRem(26);
    & input {
      padding: toRem(13);
      font-family: "Roboto", sans-serif;
      font-weight: 600;
      border-bottom: toRem(2) solid var(--color-black);
      &:focus::placeholder {
        opacity: 0;
      }
      &::placeholder {
        color: rgba(30, 40, 50, 0.5);
        text-transform: capitalize;
        transition: opacity 0.3s;
      }
    }
  }
}

.button-submit-wrapper {
}
.button-submit {
}

.follow {
  display: flex;
  align-items: center;
  gap: toRem(24);
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  // .follow__item
  &__item {
    scroll-snap-align: start;
  }

  // .follow__link
  &__link {
    position: relative;
    width: toRem(200);
    height: toRem(200);
    transition: transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    &::before {
      position: absolute;
      font-size: toRem(48);
      color: var(--color-white);
      z-index: 3;
      opacity: 0;
      transition: opacity 0.2s;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 2;
      opacity: 0;
      transition: opacity 0.2s;
    }

    @media (any-hover: hover) {
      &:hover::before,
      &:hover::after {
        opacity: 1;
        transition: opacity 0.4s ease-in-out;
      }
    }
    @media (any-hover: none) {
      &::after {
        opacity: 1;
        background: radial-gradient(
          circle,
          rgba(0, 0, 0, 0.7) 0%,
          rgba(0, 0, 0, 0.6) 10%,
          rgba(0, 0, 0, 0.3) 20%,
          rgba(0, 0, 0, 0.2) 30%,
          rgba(0, 0, 0, 0) 60%
        );
      }
      &::before {
        opacity: 1;
      }
    }
    &:active {
      transform: scale(0.99);
    }
  }
}
