// Variables
// Значения для минимальной (360) и максимальной (ширина по макету + 30px) ширины экрана
$mobile-min: 360px;
$container: 1310px;
// gradient
$gradient: linear-gradient(90deg, #f00 0%, #42ff00 48.9%, #2400ff 100%);
$gradient-05: linear-gradient(
  90deg,
  rgba(255, 0, 0, 0.5) 0%,
  rgba(66, 255, 0, 0.5) 48.9%,
  rgba(36, 0, 255, 0.5) 100%
);
